body{ 
    color: white;
    padding: 0px;
    margin: 0px 0px;
    background-color: rgb(0, 0, 0);
}

.logo h1 {
    margin-left: 43vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.logo strong {
    color: rgb(231, 15, 15);
    font-weight: bold;
}
/* This code is completely written by Anand */
.form {
    padding: 10px;
    width: 280px;
    height: 310px;
    color: black;
    border-radius: 6px;
    margin-left: 40vw;
    background-color: grey;
    margin-top: 30px;
}
.form-group {
font-weight: bold;
    margin-top: 5px;
}
.form-group p{
    font-size: 10px;
}
.form h1{
    margin-bottom: 30px;
}
button{
    border-radius:5px;
    color: black;
    background-color: rgb(255, 255, 255);
    margin-top: 6px;
    
}
input{
    border-radius: 3px;
    margin-left: 25px;
}
.Sign{
    margin-left: 25px;
    width: 200px;
    background-color: rgb(255, 153, 0);
}
.Sign{
    background-color: rgb(248, 189, 101);
}
.Guest{
    margin-left: 25px;
    width: 200px;
}
.Create{
    margin-left: 25px;
    width: 200px;
}
